/* global */
body {margin:30px; background:#f1f1f1;}
h1 {margin-bottom:50px; padding-bottom:8px; font-size:32px; color:#002642; border-bottom:2pt solid #002642;}


/* CB content */
.content-panel {position:relative; padding:30px; border:1px solid #ddd; box-shadow:0px 1px 1px rgba(0,0,0,.1); background-color:white;}


/* holding box */
#selectionsContainer {}

.row {overflow:hidden;}
[class="content-panel"]{margin-bottom:-99999px; padding-bottom:99999px;}

/* categories */
#category1, .category1Highlight {background:#86e7e8;}
#category2, .category2Highlight {background:#98ffcc;}
#category3, .category3Highlight {background:#a5d4ff;}
#category4, .category4Highlight {background:#8a8fe8;}
#category5, .category5Highlight {background:#c497ff;}

#selectionsContainer dl {margin:15px 0; padding:15px;}
	#selectionsContainer dl:first-child {margin-top:0;}
	#selectionsContainer dl .categoryName {font-size:1.5em; font-weight:bold; padding-bottom:15px;}
		#selectionsContainer dl .categoryName.activated {cursor:pointer;}
		#selectionsContainer dl .categoryName span {float:right; display:none; margin-top:3px; -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg); transform:rotate(90deg);}
			#selectionsContainer dl .categoryName span.close {-ms-transform:rotate(-90deg); -webkit-transform:rotate(-90deg); transform:rotate(-90deg);}
	#selectionsContainer dl .savedElements {margin-bottom:15px; padding:5px 0; border-bottom:dotted 1px black;}
	#selectionsContainer dl .buttons {margin-bottom:15px; text-align:right;}
	
/* dialogs */
.dialogWindow {display:none;}
#selectionDisplay {margin:15px; font-style:italic;}

/* mobile */
@media screen and (max-width:767px) {
  
	body {margin:0; padding:0;}
	
}