/* global */
body {margin:30px; background:#f1f1f1;}
h1 {margin-bottom:50px; padding-bottom:8px; font-size:32px; color:#002642; border-bottom:2pt solid #002642;}


/* CB content */
.content-panel {position:relative; padding:30px; border:1px solid #ddd; box-shadow:0px 1px 1px rgba(0,0,0,.1); background-color:white;}


/* holding box */
.holding-box {}

.row {overflow:hidden;}
[class="content-panel"]{margin-bottom:-99999px; padding-bottom:99999px;}